*{
    margin:0;
    padding:0;
    user-select:none;
    text-align:center;
}
.itrdc{
    color:aliceblue;
    text-align:center;
    position:relative;
    font-size:x-large;
    justify-content:center;
    background-image:url("https://img1.imgtp.com/2023/09/03/YVQLUtkP.png");
}

a{
    color:black;
}